.txtbox
{
margin: 12px;
border:1px solid lightblue;
border-radius: 4px;
padding-left: 6px;
height:40px;
width:400px;
}

div
{
width:420px;

background-color:white;
background-color: rgb(27, 27, 62);
padding: 10px 0; 
width:440px;
border-radius:10px;
border-width: 6px;
color:wheat;
box-sizing: 20px;
box-shadow:pink ;
box-decoration-break: slice;
align-items:center 

}

.design {  
  background-color: rgb(27, 27, 62);
padding: 10px 0; 
width:440px;
border-radius:10px;
border-width: 6px;
color:wheat;
box-sizing: 20px;
box-shadow:pink ;
box-decoration-break: slice;
align-items:center ;
} 
.btn
{
  border:1px solid lightblue;
  font-size: 12px; 
  background-color:#fff ; 
  color:black;
  margin:15px;
  padding:12px 22px;
  border-top: 4px;
  font-weight: 600px;

}
.btn:hover
{
background-color: transparent;
color:lightskyblue;
border:2px solid lightblue;
transition:background-color 0.5s ease-in ;
}