ul li {
  list-style-type: disc;  
}
li li{
   list-style-type: circle; 
}
li li li{
    list-style-type:lower-alpha;
}
li li li li{
    list-style-type: circle;
}
li li li li li{
list-style-type:lower-alpha;
}